# dependencies
node_modules/
.pnpm-store/

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Supabase
.supabase/

# OS/editor
.DS_Store
.vscode/
.idea/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.mov
*.mov
*.mp4
